@charset "UTF-8";

ul, ol {
  padding-left: 25px;
}
.posts li, .social li, .all-posts li {
  padding: 0;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.social li {
  padding-left: 22px;
  background-position: 0px 50%;
}
.posts time[pubdate],
.all-posts time[pubdate] {
  display: inline;
  margin-top: 0;
  color: inherit;
  font-size: inherit;
}
.posts time[pubdate]:before,
.all-posts time[pubdate]:before {
  content: " - ";
}

@font-face {
  font-family: Museo;
  src: url(./fonts/Museo300-Regular.otf);
}

a, .related {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a:hover {
  color: white;
  outline: none;
  background-color: #2060A0;
  text-decoration: none;
}

a:focus {
  /* !important to override disqus global styles for link outline */
  outline: solid #2060A0 3px !important;
  outline-offset: 3px;
  outline-radius: 5px;
  -moz-outline-radius: 5px;
}

/* fix disqus styles for my theme */
#dsq-content a:link, #dsq-content a:visited {
  color: inherit;
  overflow: hidden;
}
#dsq-content a:focus {
  outline: none;
}
#dsq-content .dsq-global-toolbar-likes {
  overflow: visible !important;
}

body {
  font-size: 100%;
  font-family: Museo, Palatino, Georgia, Serif;
  background: white url(graphics/main-bg.png) no-repeat 105% 105% fixed;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Palatino, Georgia, Serif;
}

h1 {
  width: 800px;
  font-size: 220%;
}

h2 {
  font-size: 160%;
  padding-top: 10px;
}

h3 {
  font-size: 140%;
  padding-top: 10px;
}

img, iframe {
  border: none;
}

table {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
}
td {
  padding: 5px 10px;
  border: solid #999 1px;
}

.terminal, code {
  font-size: 80%;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", Monospace;
}

code {
/*
  To achive decent font sizes on all browsers, I had to use 80% which works best
  for preferred font families, and adjust the size in Firefox which does not
  uses the page font size as a reference for the 100% value inherited from the
  body, but instead uses the font size set in the preferences for monospace
  fonts. The default is 13px, and 80% out of 13px is way too small. Using
  font-size-adjust, which is only understood by Firefox fixes this.
*/
  font-size-adjust: 0.7;
  background: #F4F4F4;
}

h2 code, p code {
  font-size-adjust: 0.6;
}

a:hover code {
  background: transparent;
}

pre code {
  background: transparent;
  width: 700px;
  display: block;
  margin: 20px 0;
  padding: 0 0 0 10px;
  overflow: auto;
  border-left: dotted #999 1px;
}

.gdoc {
  text-align: center;
}

.logo {
  position: fixed;
  top: 35px;
  left: 55px;
}
.logo:hover {
  background: transparent;
}

.container {
  width: 660px;
  padding-right: 5px;
  margin: 50px 0 70px 200px;
  background: white;
}

section {
  margin: 0 0 40px 0;
}

section h1 {
  width: inherit;
  padding-bottom: 5px;
  border-bottom: dotted #333 1px;
}

section ul, section ol {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

section li {
  margin: 5px 0;
}

.related {
  margin: 10px 0;
  padding: 5px;
  text-align: right;
  background: #f0f0f0;
  font-size: 90%;
  font-weight: normal;
}

.talks {
  display: block;
}

article time[pubdate] {
  display: block;
  padding: 0 0 10px 0;
  color: #808080;
  font-size: 70%;
}

.copyright {
  color: #808080;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  padding: 0 0 0 45px;
  margin: 0;
  background: #eee;
  width: 825px;
  height: 25px;
  line-height: 25px;
  box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px -2px 7px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
}

.copyright small {
  font-size: 70%;
}

#disqus_thread {
  margin-top: 60px;
}
