article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  background: white;
  font-size: 105%;
  font-family: Arial, Verdana, Sans-Serif;
}
.posts ol, .all-posts ol {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.posts li, .social li, .all-posts li {
  padding: 4px;
  margin-bottom: 7px;
  border: solid #e0e0e0 1px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
h1 {
  font-weight: normal;
  margin: 5px 0;
}
time[pubdate] {
  margin-top: 3px;
  color: #777;
  font-size: 90%;
  display: block;
}
a:link, a:visited {
  color: #2060A0;
}

a[href$=".pdf"] {
  padding-right: 21px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHhSURBVDjLjZPLSxtRFIfVZRdWi0oFBf+BrhRx5dKVYKG4tLhRqlgXPmIVJQiC60JCCZYqFHQh7rrQlUK7aVUUfCBRG5RkJpNkkswrM5NEf73n6gxpHujAB/fOvefjnHM5VQCqCPa1MNoZnU/Qxqhx4woE7ZZlpXO53F0+n0c52Dl8Pt/nQkmhoJOCdUWBsvQJ2u4ODMOAwvapVAqSJHGJKIrw+/2uxAmuJgFdMDUVincSxvEBTNOEpmlIp9OIxWJckMlkoOs6AoHAg6RYYNs2kp4RqOvfuIACVFVFPB4vKYn3pFjAykDSOwVta52vqW6nlEQiwTMRBKGygIh9GEDCMwZH6EgoE+qHLMuVBdbfKwjv3yE6Ogjz/PQ/CZVDPSFRRYE4/RHy1y8wry8RGWGSqyC/nM1meX9IQpQV2JKIUH8vrEgYmeAFwuPDCHa9QehtD26HBhCZnYC8ucGzKSsIL8wgsjiH1PYPxL+vQvm5B/3sBMLyIm7GhhCe90BaWykV/Gp+VR9oqPVe9vfBTsruM1HtBKVPmFIUNusBrV3B4ev6bsbyXlPdkbr/u+StHUkxruBPY+0KY8f38oWX/byvNAdluHNLeOxDB+uyQQfPCWZ3NT69BYJWkjxjnB1o9Fv/ASQ5s+ABz8i2AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: right 50%;
}

blockquote {
  margin: 0;
  padding: 5px 20px;
  background: #f0f0f0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

blockquote p {
  margin: 5px 0;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.copyright {
  color: #eee;
  padding: 4px;
  margin: 14px 0 7px 0;
  background: #444;
  border-radius: 3px;
}
.talks {
  display: none;
}

.social li {
  padding-left: 23px;
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

.github {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABQElEQVQ4EY2TMUsDQRBGjVapBMEqIAQEwdZKsPUH2IkgBKxS2dr6J2ythEBAsLUVBEEIBNLZKOkEEVKIouh7x47c6q34wcvtznyze7Oba82VtUJqOaUfeT6UrXlmj+kIPuE54diYuaLaZIYwg0NYg9AqA2Pm9Oj9pXMiV7ADFvyULW2DHr2ZfLUpLMIp+Moab2GcnsaOQc89ZO2MCByAOgPNTZhTeq2p1OH3FezLU3+HpuKIrSevNZ15frrgFb0YgAX4S0sk9VrTdYG67pi81QMNYwsz1VswsQ+lNk5Spe1WLaR5ddI9JhpcwEWPIPoeMN6CUI+Bt/Mtr8Sr8You4QJuIBa4ZhxqvEaTFnn37r4J/lligdjNnB69leqHuEvkCSawAR8Qsuc+mPPD0luUZ+COsXs8jZnL1Mpm+eRfn/MXAvJgvp4ENOkAAAAASUVORK5CYII=);
}

.twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAACYUlEQVQ4EWP8//8/AyWAiRLNIL0sxBqw4sS1hMfvvygyAF1c6mVeD9MHNuDRm4/yfJzsHwS4OT7CJJDpwhUH5q+5+jyBj4vjS4+fUSeyHNgLj99/1tVuXPohaf6udSCbkBWsOHUzYe2d9wksQhIM3zgEeNLXnW0+evupPUwNIygQgVj++MPXTalrTod8+vKVi4fh9/skc9XJpZ5m9ZYTtjx9wcgrxcTBBVLH8O/rJwZnCdZdc6Pt3UGGgA0AMR69/2Ljvfzs7i9/GDn+//rB8O/bZwZNMd4LN78wGDDxCDAwMjGDlDH8//OLgevHh28z/fS9Hr/5oAg3AGg6/7VXn5qiNt9K+/KHgePf7x8MDH//MjCysjMwsrACrWIEG8Dw/x/Dv+9fGf5+esvQ7albD49GRkbGj9K8HFPNxdnv8bIx/2Bi42Rg4uRG1Qw2gpFBRpjvvZWG/P0nn35Iw10Adt7//+xAOiBq/aW2U69/KQHdDbEVifz/7y9Dp63sihAtiZ1A4fvM//Sc+5RFBW7wc3F8BLriLxBf/fDlu+Xhp190GJnQDAAGojT7//fdruppQHU7gPghS5i51p2wObsP8rEzv+fjYP1w4skHB2Y+YQZmXgEkeyFMHub/P2Z4qc8FarwAk2T89++fxKcfvxMa9lzxX3ftpQUjKxsDExsH0O9sDAwwFwBt1hBge9HlqLBKS5S3HWjAC7gB0HQA8rvnk48/HNfceGVw6sUXWXCoAzVqCXO9NJPkeeimLLIfqGYjsmaQIeiByA8UMwBiRZAkFIBsewDUeAMmgEyjGIAsQSwbAJxt+BjC/3WuAAAAAElFTkSuQmCC);
}

.stackoverflow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB6klEQVQ4EaVSTUgbQRR+Mzv5WVsiBEUbIohUEDUeBHuTHL209NBceulBgrY2RcFLwKOIHqQg8af4c25PtocevbQlpwYKkh4MKCKr1i6hiAGTze6Mb5SRbFaC0IG389433/vme7tLoMEykgMUKF9CSgrjG8ZIdD1fqW2htUV9Ht3c5eDQScS3MeIY6/WchgKSHN26FhkFATksXxlj/TO1IqS2ULm54peWw0DEWutE1ZS4kYx1AYEfiEWwfImjfJK4R6C4ynQuqLytF+MvMjL4HjZaX9tnxnjfE3C071jL3qcosuMZoVR9UNGo/Vyjzjwhogmtz+J7yJsf2Kyv+6hA9EoCRRhwOixVPA4kqNafjP7Iz6w3KPIWXYUFFUVh+Vbt05acZmlf294fcpfA53Rcd0Cb4JweoEhB913uP5vLlvcW2x82B87HAsyaEiA6GOXR0Dgcy4tcAl/Sw70OsN/KARekyIWWp4Rng6z8Kxz8x9uazMDjafOj4jCVyP0CQschOH8hgA5iOaQR6AZixwWQuGX74eSiHYxSBP+Hndu2awfvUikhkczyssuRxDbSiRYfVHsYhh+sWBmCCz9LnSeK73IgQSUmc7l2Sze7euIlk8hRJXg+4+3JPROPg7vGaKTlEqi336hRnf33CFeUmKTuhCMHbQAAAABJRU5ErkJggg==);
}

.feed {
  padding-right: 20px;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJFSURBVBgZBcHda5V1AADg5/d733Oc7tjOaNs5GC6KdrEwmpPRxG7spoKghOim7oK8y0MIEQRL+geGEIQ3UXQvSJ8IafZxUbjQhRDZoU60iYsSc9t5v87b84TsVe3mrBWpHoCICIAIACixYTUfOJM2Z62YO97TOULSIKaEQAyESAzEgISAgLpi48de87MLUqmezhGyhO4SCW7f4O81YiSJiCQIkbqmNcXMIjMXeilIGsQxDp8AnKDY5teL3PyU6h4CdY3Av7cYu58R0QghZWeT9fP0v2V7i8Y4j77As2c5sAwIFAXDgjInJxURAzub/PwxMZBGphZYeIWJWZ44xdo5bl4kK8kzioohUUREd4kXP+Kpd3nkee72+epNBleAxdfoLJBlDEuKkpxoBAkBjXGm53n8ZZ45S/shrr7P75eBo6eo9zAsKCqGRBEB/1zj89e5eo7tLRr7ePJtWg9wZZV7t2i2OPQcw5JiRE4UESN1ZPc2g0tceos/LtPYx9HTaPDNe8Dhl9gtyStyUiMIJDXLp2m0GHzN2gdMzdPq0F3k+pcc/4+x/UwepKzIiSDWTB/iwBLT8xw8xt07rJ8HHj7GbkX/B+DBxyhrciIQ2N2i2AG2fiPL+OsXoNVlWPDnDaC5l6qiJJWjLlHxxRs0JhhcIyvp/8SHJylKdiu++4Tr31NW7B8nkrwzp627d9nkHM0Wsea+GSY6tDvESEyY6TIxyZ4GSUp/nTubqyF7WrvZtaKrZ4QSQ+TIMUSJHCVypGhaHW448z+h1tLAgvKk7gAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.terminal {
  color: #F5F5F5;
  background: black;
  padding: 3px 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

article .related {
  position: relative;
  padding: 3px;
  margin-top: 50px;
  text-align: left;
  border: solid #e0e0e0 1px;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.igstan-twitter-button {
  position: absolute;
  left: 0;
  top: -30px;
}

.warning {
  margin: 10px 0 20px 0;
  padding: 3px 0 3px 35px;
  border: solid #FC6 1px;
  border-radius: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlRJREFUeNqEU89vTFEU/u77Oc+082q0Rce0MYSmOolGapqZWDRB+Au6IZJiwYrorLBXiYWQ2BAkEis2EguJsPEjFGksRQQlRaqmnR9v3nv3XefOvDIzipuc3HPP/c4533fefRBCoNXkKj7FQTFNR7LCYxyiEFsWu1zy7XNYzV/iR/A9L4K5CeGTf4ti8q4Vr+DPpeaGcAJ2xoZi0MkEi223c1spBmit4KYCjDHcvYD+uG3mWXwX4LyCqEyBdYxiVYeRv3Me/RLz1wKyw/AATmPlDsB/h737F7Bn3yKE+xaIZTEyiFOE0RuLKI3dH11BJho1xpT29RDeLBZLAsUyzcWZgWL2IGrpY/cvYUTCmwqEFY1NSZxVO3OA9wHgPlLrOFIJDuF7CEpvoLQNIZ3CGcmilQF7chm7DbMtq7V3UXIZgnswtSoM1SE2HoRTJLAFU7eyL65h55IMJXSsZCcmzZ40RPVzraO0VMLHhgT5rktGLArvoZl9WBvHpGQscyUDNn0VB6xY94AWMak7gX0yp4KIWoGlVIm+g8Bxa0wUtwpdiw2+vo7xmvobJ9GVS2Oqe+OWXl0qo07CI91BAJD92nnocw4PKuYXvny89wzDWroPxyMRu1fjkqrflLDtcFDT+fyi/7sIFVCFB10Yycxm95hGQo7G4vG6zsauBA44PV35fOUQw2S5SxYrhAJDYUc032W25/iohrSXkuV+c6K+lwo8lMDrd1RAodlzj9na1znxwK18GsU/1sxsa6T+CefL4qH01pDJP01tfGH/WVIZDQbffgowAJDnV3LnrSRGAAAAAElFTkSuQmCC);
  background-color: #FFEC99;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

/* code highlighting -------------------------------------------------------- */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { text-align: right; background-color: #EBEBEB; color: black; padding-right: 5px; padding-left: 5px; }

pre.sourceCode span.kw { font-weight: bold; }
pre.sourceCode span.dt { color: #800000; }
pre.sourceCode span.dv { color: #0000FF; }
pre.sourceCode span.bn { color: #0000FF; }
pre.sourceCode span.fl { color: #800080; }
pre.sourceCode span.ch { color: #FF00FF; }
pre.sourceCode span.st { color: #DD0000; }
pre.sourceCode span.co { color: #808080; }
pre.sourceCode span.ot { }
pre.sourceCode span.al { color: green; font-weight: bold; }
pre.sourceCode span.fu { color: #000080; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }

pre.sourceCode.php .kw { color: #0000FF; font-weight: normal; }
