footer, section {
  display: block;
}

body {
  background: white;
  font-size: 105%;
  font-family: Arial, Verdana, Sans-Serif;
}
.posts ol {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.posts li, .social li {
  padding: 4px;
  margin-bottom: 7px;
  border: solid #e0e0e0 1px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
h1 {
  font-weight: normal;
  margin: 5px 0;
}
.date {
  margin-top: 3px;
  color: #777;
  font-size: 90%;
  display: block;
}
a:link, a:visited {
  color: #2060A0;
}

a[href$=".pdf"] {
  padding-right: 21px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHhSURBVDjLjZPLSxtRFIfVZRdWi0oFBf+BrhRx5dKVYKG4tLhRqlgXPmIVJQiC60JCCZYqFHQh7rrQlUK7aVUUfCBRG5RkJpNkkswrM5NEf73n6gxpHujAB/fOvefjnHM5VQCqCPa1MNoZnU/Qxqhx4woE7ZZlpXO53F0+n0c52Dl8Pt/nQkmhoJOCdUWBsvQJ2u4ODMOAwvapVAqSJHGJKIrw+/2uxAmuJgFdMDUVincSxvEBTNOEpmlIp9OIxWJckMlkoOs6AoHAg6RYYNs2kp4RqOvfuIACVFVFPB4vKYn3pFjAykDSOwVta52vqW6nlEQiwTMRBKGygIh9GEDCMwZH6EgoE+qHLMuVBdbfKwjv3yE6Ogjz/PQ/CZVDPSFRRYE4/RHy1y8wry8RGWGSqyC/nM1meX9IQpQV2JKIUH8vrEgYmeAFwuPDCHa9QehtD26HBhCZnYC8ucGzKSsIL8wgsjiH1PYPxL+vQvm5B/3sBMLyIm7GhhCe90BaWykV/Gp+VR9oqPVe9vfBTsruM1HtBKVPmFIUNusBrV3B4ev6bsbyXlPdkbr/u+StHUkxruBPY+0KY8f38oWX/byvNAdluHNLeOxDB+uyQQfPCWZ3NT69BYJWkjxjnB1o9Fv/ASQ5s+ABz8i2AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: right 50%;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.copyright {
  color: #eee;
  padding: 4px;
  margin: 14px 0 7px 0;
  background: #444;
  border-radius: 3px;
}
.talks {
  display: none;
}

.social li {
  padding-left: 23px;
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

.github {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAACTklEQVQ4EX1STYiSYRBe/fyj9KukxMSDhIqaSEhQiGzQSWIjWILEk0jRKRDpIHh3QcgugiDCXlRIPIiInRQVIg8iYWRmEkFUEiZqspW/zfOBy9ZuvjC+880z7zMzz8hbrVZbm040Gn04mUxkXq/3qVAoXBzLBcH/rNfrXZDL5d/5fP6i3W7rT8oTHGM8EpBIJL81Gs3H4XB4lmXZ8Wg0YolUqVKpvshksgmXehLr0Rg9ZgeDwRnEwuGwl0h/ZjKZ3XUODw5OMpl0xePxB8vlku9wOJ5TpYsulyuRzWZ3SQOp2+3edzqdz7rd7iWTydQGFggE9rj5E4mEizgWWq32PYFv4MPK5fK22Wx+rVQqv1arVTu1/hlxtVr9yefzPeGK48dms70AAKHQskgk+kVdFObzOc9isbzCQ+SFQqHHyEulUveAIcaJCEYCrtfr9atUrTedToUQimGYv3aMbVDelkAgWBxiYOl0Olq9Xv8O7DBS/kOr1TIAwwj/dkC63AYG44NRp9N1qdUmtT6LRCKParXaNaPR2J7NZgxwCIsbG8BdKBR2isXiTfgcAOfg4OAUtbhSKBTf8I1D30saRwQDGWn1kkimsVjsPp04l7QeYS0kBRdSqfSH3+/fo4dMLpfbSafTd+Ejt1Qq3YCY+Xz+Fr65Oex2e5WEmVJrjmazeRkbAFGj0biCpE3GbYFWd47mZPr9/nmqPqFxTqM9+Lg3nnVbBoPhLSVyW0A3wWDQv6nyGjv8K1cqlW2a9854PGatVmvd4/Hsi8Xi6cbqBP4BK+22EnaEGYEAAAAASUVORK5CYII=);
}

.twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAACYUlEQVQ4EWP8//8/AyWAiRLNIL0sxBqw4sS1hMfvvygyAF1c6mVeD9MHNuDRm4/yfJzsHwS4OT7CJJDpwhUH5q+5+jyBj4vjS4+fUSeyHNgLj99/1tVuXPohaf6udSCbkBWsOHUzYe2d9wksQhIM3zgEeNLXnW0+evupPUwNIygQgVj++MPXTalrTod8+vKVi4fh9/skc9XJpZ5m9ZYTtjx9wcgrxcTBBVLH8O/rJwZnCdZdc6Pt3UGGgA0AMR69/2Ljvfzs7i9/GDn+//rB8O/bZwZNMd4LN78wGDDxCDAwMjGDlDH8//OLgevHh28z/fS9Hr/5oAg3AGg6/7VXn5qiNt9K+/KHgePf7x8MDH//MjCysjMwsrACrWIEG8Dw/x/Dv+9fGf5+esvQ7albD49GRkbGj9K8HFPNxdnv8bIx/2Bi42Rg4uRG1Qw2gpFBRpjvvZWG/P0nn35Iw10Adt7//+xAOiBq/aW2U69/KQHdDbEVifz/7y9Dp63sihAtiZ1A4fvM//Sc+5RFBW7wc3F8BLriLxBf/fDlu+Xhp190GJnQDAAGojT7//fdruppQHU7gPghS5i51p2wObsP8rEzv+fjYP1w4skHB2Y+YQZmXgEkeyFMHub/P2Z4qc8FarwAk2T89++fxKcfvxMa9lzxX3ftpQUjKxsDExsH0O9sDAwwFwBt1hBge9HlqLBKS5S3HWjAC7gB0HQA8rvnk48/HNfceGVw6sUXWXCoAzVqCXO9NJPkeeimLLIfqGYjsmaQIeiByA8UMwBiRZAkFIBsewDUeAMmgEyjGIAsQSwbAJxt+BjC/3WuAAAAAElFTkSuQmCC);
}

.stackoverflow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB6klEQVQ4EaVSTUgbQRR+Mzv5WVsiBEUbIohUEDUeBHuTHL209NBceulBgrY2RcFLwKOIHqQg8af4c25PtocevbQlpwYKkh4MKCKr1i6hiAGTze6Mb5SRbFaC0IG389433/vme7tLoMEykgMUKF9CSgrjG8ZIdD1fqW2htUV9Ht3c5eDQScS3MeIY6/WchgKSHN26FhkFATksXxlj/TO1IqS2ULm54peWw0DEWutE1ZS4kYx1AYEfiEWwfImjfJK4R6C4ynQuqLytF+MvMjL4HjZaX9tnxnjfE3C071jL3qcosuMZoVR9UNGo/Vyjzjwhogmtz+J7yJsf2Kyv+6hA9EoCRRhwOixVPA4kqNafjP7Iz6w3KPIWXYUFFUVh+Vbt05acZmlf294fcpfA53Rcd0Cb4JweoEhB913uP5vLlvcW2x82B87HAsyaEiA6GOXR0Dgcy4tcAl/Sw70OsN/KARekyIWWp4Rng6z8Kxz8x9uazMDjafOj4jCVyP0CQschOH8hgA5iOaQR6AZixwWQuGX74eSiHYxSBP+Hndu2awfvUikhkczyssuRxDbSiRYfVHsYhh+sWBmCCz9LnSeK73IgQSUmc7l2Sze7euIlk8hRJXg+4+3JPROPg7vGaKTlEqi336hRnf33CFeUmKTuhCMHbQAAAABJRU5ErkJggg==);
}

.feed {
  padding-right: 20px;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJFSURBVBgZBcHda5V1AADg5/d733Oc7tjOaNs5GC6KdrEwmpPRxG7spoKghOim7oK8y0MIEQRL+geGEIQ3UXQvSJ8IafZxUbjQhRDZoU60iYsSc9t5v87b84TsVe3mrBWpHoCICIAIACixYTUfOJM2Z62YO97TOULSIKaEQAyESAzEgISAgLpi48de87MLUqmezhGyhO4SCW7f4O81YiSJiCQIkbqmNcXMIjMXeilIGsQxDp8AnKDY5teL3PyU6h4CdY3Av7cYu58R0QghZWeT9fP0v2V7i8Y4j77As2c5sAwIFAXDgjInJxURAzub/PwxMZBGphZYeIWJWZ44xdo5bl4kK8kzioohUUREd4kXP+Kpd3nkee72+epNBleAxdfoLJBlDEuKkpxoBAkBjXGm53n8ZZ45S/shrr7P75eBo6eo9zAsKCqGRBEB/1zj89e5eo7tLRr7ePJtWg9wZZV7t2i2OPQcw5JiRE4UESN1ZPc2g0tceos/LtPYx9HTaPDNe8Dhl9gtyStyUiMIJDXLp2m0GHzN2gdMzdPq0F3k+pcc/4+x/UwepKzIiSDWTB/iwBLT8xw8xt07rJ8HHj7GbkX/B+DBxyhrciIQ2N2i2AG2fiPL+OsXoNVlWPDnDaC5l6qiJJWjLlHxxRs0JhhcIyvp/8SHJylKdiu++4Tr31NW7B8nkrwzp627d9nkHM0Wsea+GSY6tDvESEyY6TIxyZ4GSUp/nTubqyF7WrvZtaKrZ4QSQ+TIMUSJHCVypGhaHW448z+h1tLAgvKk7gAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}


/* code highlighting -------------------------------------------------------- */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { text-align: right; background-color: #EBEBEB; color: black; padding-right: 5px; padding-left: 5px; }

pre.sourceCode span.kw { font-weight: bold; }
pre.sourceCode span.dt { color: #800000; }
pre.sourceCode span.dv { color: #0000FF; }
pre.sourceCode span.bn { color: #0000FF; }
pre.sourceCode span.fl { color: #800080; }
pre.sourceCode span.ch { color: #FF00FF; }
pre.sourceCode span.st { color: #DD0000; }
pre.sourceCode span.co { color: #808080; }
pre.sourceCode span.ot { }
pre.sourceCode span.al { color: green; font-weight: bold; }
pre.sourceCode span.fu { color: #000080; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }

pre.sourceCode.php .kw { color: #0000FF; font-weight: normal; }
