<section class="posts">
    <h1>Posts</h1>
    <ol>$posts$</ol>
    <p class="related">
        List <a href="/posts.html">all posts</a> or subscribe to the <a href="http://feeds.feedburner.com/igstan" class="feed">RSS feed</a>
    </p>
</section>

<section class="online">
    <h1>Online</h1>
    <ul>
        <li class="github"><a href="http://github.com/igstan">GitHub</a></li>
        <li class="twitter"><a href="http://twitter.com/igstan">Twitter</a></li>
        <li class="stackoverflow"><a href="http://stackoverflow.com/users/58808/ionut-g-stan">StackOverflow</a></li>
    </ul>
</section>

<section class="talks">
    <h1>Talks &amp; Presentations</h1>
    <ol>
        <li>
            <p>
              <a href="http://wurbe.ro/2011/12/10/wurbe-48-colectia-de-iarna">Wurbe #48</a>,
              <a href="/files/pdf.js.pdf">pdf.js</a>
            </p>
            <script async class="speakerdeck-embed" data-id="4f8c037ab204f600220169f3" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
        </li>
        <li>
            <p>OpenAgile 2010, <a href="/files/functional-programming.pdf">Functional Programming</a></p>
            <script async class="speakerdeck-embed" data-id="4ec0f78c7cdd050054003cf5" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
        </li>
    </ol>
</section>
