<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>$title$</title>
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
<!--[if !IEMobile & lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
<![endif]-->
<!--[if IE]><![if gte IE 9]><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen and (min-width: 480px)">
<!--[if IE]><![endif]><![endif]-->
<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/igstan" title="All Posts - RSS Feed">
</head>
<body>

<a href="/" class="logo" title="Go to homepage">
    <img src="/css/graphics/list-atom.png" alt="List Atom">
</a>

<div class="container">$body$</div>

<footer class="copyright">
    <small>&copy; 2010 — 2013 Ionuț G. Stan</small>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6642500-3']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
