<article>
    <h1>$title$</h1>
    <time pubdate>$date$</time>
    $body$
    <p class="related">
        <span class="igstan-twitter-button">
            <a style="position:fixed" href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="igstan">Tweet</a>
        </span>

        List <a href="/posts.html">all posts</a>, go to <a href="/">homepage</a>
        or subscribe to the <a href="http://feeds.feedburner.com/igstan" class="feed">RSS feed</a>
    </p>
</article>

<!-- <p><a href="https://github.com/igstan/igstan.ro/commits/master/$path">Commit history</a></p> -->

<div id="disqus_thread"></div>
<script type="text/javascript">
(function() {
    var node = document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0];

    // load disqus comments
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://igstan.disqus.com/embed.js';
    node.appendChild(dsq);

    // load twitter button
    var twit = document.createElement('script'); twit.type = 'text/javascript'; twit.async = true;
    twit.src = 'http://platform.twitter.com/widgets.js';
    node.appendChild(twit);
})();
</script>
