<article>
    <h1>$title</h1>
    <small class="publish-date">$date</small>
    $body
    <p class="related">
        List <a href="/posts.html">all posts</a>, go to <a href="/">homepage</a>
        or subscribe to the <a href="http://feeds.feedburner.com/igstan" class="feed">RSS feed</a>
    </p>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://igstan.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
